training/.ipynb_checkpoints/
venv*
training/llama-recipes
training/__pycache__/
.ipynb_checkpoints/

*.log
training/logs/
training/wandb/
finetuned_model/
data_processing/synthetic_dataset/
trained_model/
